* {
    font-family: "Gabarito", sans-serif;
    margin: 0;
    padding: 0;

}

.navbar {
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.navbar__s1 {
    align-items: center;
    display: flex;
}

.navbar__u__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1;
}

.navbar__u__container i:hover,
.navbar__u:hover,
.navbar__demy:hover {
    cursor: pointer;
}

.navbar__u__container i {
    position: absolute;
    top: -12px;
    font-size: 18px;
}

.navbar__u {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 6px;
}

.navbar__demy {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 6px;

}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    outline: none;
    background: transparent;
}

.navbar__s2:hover,
.navbar__input:focus,
.navbar__s2 input:hover {
    background-color: #F6F7F9;
    cursor: pointer;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
    border: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s3 i {
    padding: 10px;
    border-radius: 4px;
}

.navbar__s3 p {
    padding: 10px;
    border-radius: 10px;
}

.navbar__s3 p:hover {
    background-color: #EDE5F9;
    cursor: pointer;
}

.navbar__s3 i:hover {
    cursor: pointer;
    background-color: #EDE5F9;
}

.navbar__s4 {
    display: none;
}

/* My Learning Popup */

.mylearning {
    position: relative;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 40px;
    right: 0;
    padding: 10px;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;
}


.category {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.category p {
    background-color: rgb(109, 40, 210);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    transition: 1s;
    border: solid rgb(109, 40, 210) 0.5px;
}

.category p:hover {
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    color: black;
    border: solid rgb(109, 40, 210) 0.5px;
}

.sale-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.sale-image img {
    width: 100%;
    height: auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 1;
}

.arrow:hover {
    background-color: #E9EAF2;
}

.left-arrow {
    left: 16px;
}

.right-arrow {
    right: 16px;
}

.recommended {
    padding: 10px;
}

.topics__container p:hover {
    cursor: pointer;
    background-color: #892DE1;
}

.course-card img {
    height: 59%;
    width: 100%;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
}

.course-card:hover {
    cursor: pointer;
    background-color: #D0D0D2;
}

.recommended__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.topics {
    padding: 10px;
}

.topics__container p {
    background-color: rgb(109, 40, 210);
    color: white;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    flex-basis: 25%;
}

.topics__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.popular__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.popular {
    padding: 10px;
}

.bold-price {
    font-weight: bold;
}

.footer {
    background-color: #2A2B3F;
    color: white;
    padding: 30px;
}

.inside__footer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer__s1 p {
    margin: 20px;
}

.footer__s2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.footer__s1__three {
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 1px;
}

.footer__s1__three__divide p {
    outline: solid white 1.5px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.footer__s1__three__divide p:hover {
    cursor: pointer;
    background-color: #444456;
}

.sale-image__offer {
    background-color: white;
    z-index: 2;
    position: absolute;
    width: 34%;
    padding: 2%;
    left: 9%;
    top: 30%;
    border: black solid 2px;
    opacity: 0;
    animation-name: sale;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

@keyframes sale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Media Queries */

@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course-card {
        flex-basis: 40%;
    }

    .category {
        display: none;
    }

    .navbar__s2, .navbar__s3 {
        display: none;
    }

    .sale-image button {
        display: none;
    }

    .navbar__s4 {
        display: block;
    }

    .recommended {
        margin-top: 50px;
    }
}
